:root {
    --logoleft: #e0a5c1;
    --logoright:#7d6dde;
    --background-colour:#f6efef;
    --h1:#3943B7;
    --fairytale:#F7C7DB;
    --phlox:#CA3CFF;
    --amethyst:#8B5FBF;
    --slateblue:#7678ED;
    --tekhelet:#3D348B;
    --selectiveyellow:#F7B801;
    --sunglow:#FED148;
    --caledon:#BCD39C;
    --moss-green:#8E8358;
    --cadet-gray:#9EA3B0;
    --payne-gray:#546A7B;
    --richblack:#0D1F2D;
    --mistyrose:#FAE1DF;
    --desertsand:#E4C3AD;
    --delftblue:#1D2F6F;
    --vistablue:#8390FA;
    --saffron: #FAC748;
    --lavenderblush:#F9E9EC;
    --ticklepink:#F88DAD;
  }