@font-face {
  font-family:'Starborn';
  src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/starborn/Starborn.ttf")
}
@font-face {
    font-family:'The Bold Font';
    src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/the_bold_font/THE BOLD FONT - FREE VERSION - 2023.ttf")
    
  }
@font-face {
    font-family:'Louis George Cafe';
    src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/louis_george_cafe/Louis George Cafe.ttf")
}
@font-face {
    font-family:'Louis George Cafe Bold';
    src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/louis_george_cafe/Louis George Cafe Bold.ttf")
}
@font-face {
  font-family:'Louis George Cafe Light';
  src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/louis_george_cafe/Louis George Cafe Light.ttf")
}