/*--Navigation Big Screen*/

#big-screen li {
  float:left;
}

#big-screen {
  right:50px;
  position:absolute;
  animation-duration: 2s;
}

#big-screen a:hover{
  background:rgba(255,255,255,0.3);
  border-radius: 50%;

  transition:0.3s;
}
#big-screen svg {
  width:300px;
}
.header-transparent {
  background: transparent;
}
nav ul {
  background: transparent;
  float: right!important;
}
/*--*/

body
{
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
}

#/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: absolute;
  top:40px;
  right: 60px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:#7d6dde;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: -webkit-linear-gradient(45deg, #e0a5c1 , #7d6dde 98%);
}
#menu li, #menu a, #menu, #big-screen li
{
  text-decoration: none;
  color:#7d6dde;
  font-family:'Louis George Cafe'!important;
}
.say-hello {
  color: #cbc9e2;
    letter-spacing: 0.25em;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: rgba(255,255,255,0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 250px;
    margin: -45px 90px 0 -50px;
    padding: 50px;
    padding-top: 85px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(200%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 17px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}






/*---------------------*/
.menu-banner {
  background-color:#3e48f0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width:100vw;
  top: 0;
  left: 0;
}
.menu-banner01 {
  background-color:#e1a5c1;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width:100vw;
  top: 0;
  left: 0;
}
.section1-1 {
  background-color:#f6efef;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 105px 0px 80px 0px;
  height: 100vh;
  position: absolute;
  width:100vw;
  top: 0;
  left: 0;
}

.section1-2 {
  background-color:#e1a5c1;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 105px 0px 80px 0px;
  height: 100vh;
  position: absolute;
  width:100vw;
  top: 0;
  left: 0;
}
.mid-background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50;
  z-index: 1; 
}
.name-logo {
    font-size: 30px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #e0a5c1 , #7d6dde 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-family:'Starborn';
    animation-duration: 2s;
}
.container svg {
  width:inherit;
  height:inherit;
}
.svg-input > svg{
  z-index: 1;
  position:absolute;
}
.job-title {
  font-size: 4.4em;
  font-weight: 800;
  background:-webkit-linear-gradient(185deg, #e0a5c1 , #f4dae4 10%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-family:'Louis George Cafe Light';
  animation-duration: 2s;
  position:relative;
  z-index: 2;
}
.fbQokD.menu-toggle {
  z-index: 999;
  width: 2.78em;
  height: 2.09em;
  background: none;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-flexbox;
  display: inline-flex;
  margin-top: 0.699em;
  color: #4831d4;
}
.fbQokD .menu-toggle.x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fbQokD .menu-toggle:before {
  top: 0;
}

.fbQokD .menu-toggle:before, .fbQokD .menu-toggle:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: currentColor;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.fbQokD .menu-toggle.x:after {
  top: 0;
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fbQokD .menu-toggle:after {
  right: 0;
  width: 72%;
  top: 1.13em;
}

.fbQokD .menu-toggle:before, .fbQokD .menu-toggle:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: currentColor;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
  #big-screen li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

ul, li {
    font-family:'SourceSansPro-Bold';
    
}


/*-------Loader*--------*/


 

/*----------Section 2-----------*/
.section2 {
  background-color:#f9f9f9;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 105px 0px 80px 0px;
  height: 100vh;
  width:100vw;
  top: 0;
  left: 0;
  font-family:'Louis George Cafe';
}

.custom-shape-divider-bottom-1699334484 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699334484 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 157px;
}

.custom-shape-divider-bottom-1699334484 .shape-fill {
  fill: #F9F9F9;
}

@font-face {
  font-family:'Starborn';
  src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/starborn/Starborn.ttf")
}
@font-face {
    font-family:'The Bold Font';
    src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/the_bold_font/THE BOLD FONT - FREE VERSION - 2023.ttf")
    
  }
@font-face {
    font-family:'Louis George Cafe';
    src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/louis_george_cafe/Louis George Cafe.ttf")
}
@font-face {
    font-family:'Louis George Cafe Bold';
    src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/louis_george_cafe/Louis George Cafe Bold.ttf")
}
@font-face {
  font-family:'Louis George Cafe Light';
  src:url("/Users/bommy/Library/CloudStorage/GoogleDrive-nkn1803@gmail.com/My Drive/Learning/bommy-page/page/font/louis_george_cafe/Louis George Cafe Light.ttf")
}

@media only screen and (min-width: 767px) {
  #mobile-screen, .mobile-screen {
    display:none
  }

}
@media only screen and (max-width: 766px) {
  #big-screen, .big-screen {
    display:none
  }
}
@keyframes animation01{
  from {font-size: 4.4em;
    font-weight: 800;
    background:-webkit-linear-gradient(45deg, #f4dae4 99%, #e0a5c1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
  to {font-size: 4.4em;
    font-weight: 800;
    background:-webkit-linear-gradient(45deg, #e0a5c1 , #f4dae4 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
@keyframes animation02{
  from {color: #e1a5c1;}
  to {color: -webkit-linear-gradient(45deg, #e0a5c1 , #f4dae4 80%);}
}
